:root {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --dark_bg_default: #1A1A1A;
    --bg_body: #F0F9FF;
    --dark_bg_body: #282828;
    --lines-color: #DDDDDD;
    --dark_lines-color: #000000;
    --body-text: #333333;
    --dark_body-text: #EDEDED;
    --heart-color: #DC143C;
}

* {
    box-sizing: border-box;
    color: var(--body-text);
    font-family: 'Nunito Sans', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg_body);
}

.navbar-brand {
    color: var(--brand-primary);
    font-weight: bolder;
    opacity: 0.9;
}

.px-5 {
    padding-right: 3.5rem !important;
    padding-left: 3.5rem !important;
}

.btn-outline-primary {
    border: solid 1px var(--lines-color);
    margin-left: 3px;
}

.bg-light {
    background-color: var(--bg_default) !important;
}

.bg-body {
    background-color: var(--bg_body) !important;
}

.text-body {
    color: var(--body-text);
}

.heading-container {
    position: relative;
    padding-bottom: 15px;
}

.heading-text {
    padding-top: 45px;
    text-align: left;
    z-index: 2;
}

.heading-text>h2,
p {
    padding: 0;
    margin: 0;
}

.heading-text>h2 {
    color: var(--brand-secondary);
    font-weight: 900;
    font-size: 19px;
}

.heading-text>p {
    font-weight: 400;
}


.heading-triangle {
    border-style: solid;
    z-index: 1;
}

.heading-triangle-left {
    border-width: 0px 0 70px 90vw;
    border-color: transparent transparent transparent var(--brand-primary);
    position: absolute;
    left: 0;
}

.heading-triangle-right {
    border-width: 0 90vw 70px 0;
    border-color: transparent var(--brand-secondary) transparent transparent;
    position: absolute;
    right: 0;
}

.input-group-text {
    border: 0px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

strong {
    font-weight: bolder;
}

.card-img-top {
    height: 130px;
}

.card-title {
    font-weight: bolder;
}

.bi-star,
.bi-star-fill,
.bi-star-half {
    color: goldenrod;
}

.card-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 15px;
}